@import './base.css';

:root {
  --color-bg: #1A1831;
  --color-card: #1A1831;
  --color-brand: #FB2576;
  --color-text-main: #eee;
  --color-text-time: var(--color-brand);
  --color-border: #eee;
  --color-text-button: var(--color-brand);
  --color-text-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text-main);
  display: flex;
  height: 100%;
  width: 100%;
  user-select: none;
}

#app {
  align-items: center;
  background: var(--color-card);
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 60px 50px;
  position: relative;
  text-align: center;
  transition: background 0.75s ease;
  width: 100%;
}
#app[data-mode="break"] {
  --color-card: #20615B;
  --color-brand: #DECE9C;
  --color-text-main: #ffffff;
  --color-border: #e0e0e0;
  --color-text-time: #ffffff;
  --color-text-button: #ffffff;
  --color-text-white: #ffffff;
}

/* .settings__toggle {
  width: 25px;
  position: absolute;
  top: 33px;
  right: 44px;
  cursor: pointer;
  z-index: 10;
}
.settings__toggle path {
  fill: var(--color-text-button);
}
.settings__toggle.open path {
  fill: var(--color-text-white);
}
.settings__menu {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-brand);
  border-radius: 15px;
  color: var(--color-text-white);
  padding: 60px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.input-group {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 70% 30%;
  text-align: left;
  margin-bottom: 15px;
}
.input-group .settings-input {
  width: 100%;
  text-align: center;
}

.stats {
  width: 100%;
}
*/

.clock {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  padding: 60px;
  position: relative;
}
.clock__component {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.clock__face {
  background: var(--color-card);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: inherit;
  transition: background 0.3s ease;
}
.clock__time {
  font-size: 54px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: var(--color-text-time);
}
.clock__mode {
  font-size: 14px;
  padding-top: 16px;
}
.clock__progress {
  transform: rotate(-90deg);
  height: 100%;
  width: 100%;
  position: absolute;
}
.clock__progress-bg {
  stroke: var(--color-border);
}
.clock__progress-value {
  stroke: var(--color-brand);
}
.clock__progress-circle {
  width: 1px;
  height: 50%;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 0;
  transform-origin: bottom;
  margin: auto;
}
.clock__progress-circle:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: var(--color-brand);
  position: absolute;
  top: -7px;
  left: -12px;
  border-radius: 50%;
}
.clock__progress-fill {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  transition: width 0.2s;
  position: absolute;
  left: 0;
  top: 0;
}

.trigger {
  width: 70px;
  height: 70px;
  background: transparent;
  border: 2px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-button);
}
.trigger__icon {
  fill: var(--color-text-button);
  width: 20px;
}

.message__below {
  margin-top: 1rem;
}

.controls {
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding-top: 42px;
}
.controls button {
  margin-left: 15px;
}
.controls button:first-child {
  margin-left: 0;
}

.pie-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.pie__component {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  transform: scaleX(-1) rotate(-90deg);
}
.pie__component:last-child {
  margin-right: 0;
}
.pie__bg {
  fill: var(--color-border);
}
.pie__progress {
  stroke: var(--color-brand);
}